<div class="form-all">

    <div class="form-login div-form">



        <form action="/users/login" method="post">

            <div class="login-txt">
                <p>LOGIN</p>
            </div>

            <div class="form-box form-box1">
                <label for="email">Digite seu E-mail</label>
                <input type="email" name="email" class="input-data" placeholder="Digite seu E-mail">
            </div>


            <div class="form-box form-box2">
                <label for="password">Digite sua Senha</label>
                <input type="text" name="password" class="input-data" placeholder="Digite sua senha">
            </div>


            <div class="form-submit">
                <input type="submit" value="Entrar">
            </div>


            <div class="semconta">

                <p>Ainda não possui conta? <a href="/users/signup">Click aqui.</a></p>

            </div>

        </form>




    </div>





</div>